# IDE and cache files
.idea/
.vscode/
__pycache__/
.pytest_cache/

# other
问题.md

# Log files
logs/
*.log

# files
test/
preinstalled_packages/

# Configuration files with secrets
config/models_config.json

# Environment
.env
venv/

# Ignore all dotfiles and dotfolders
.*
# But keep .gitignore
!/.gitignore
