*.pyc
*.log
*.db
*.toml

**/.chainlit/

.env

**/backup/
**/old-version/
**/token.json

academic_ Search/
*/data/


research_report_writing/
metadata-editor/jsondata/llm_settings.json
metadata-editor/jsondata/knowledge_settings.json
.cursorignore
.vscode/settings.json
*.bin
*.pickle
*.bin
*.bin
*.bin
*.bin
