# Ignore environment variables
**/.env

**/backup/

**/refs/

data/backup
tests/

**/jsondata/

__pycache__/

.pytest_cache/
.claude/

tmp/

**/logs


# 忽略所有 .db 文件
*.db

runtime/database/
runtime/cache/
runtime/outputs/