/* custom.css */
.stSuccess {
    background-color: #d4edda; /* 绿色背景 */
    border-color: #c3e6cb;
    color: #155724;
}

.stError {
    background-color: #f8d7da; /* 红色背景 */
    border-color: #f5c6cb;
    color: #721c24;
}